* {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

h1, h2, h3, h4 {
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-size: 4em;
}

h1 a {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white !important;
}

h1 a:hover {
    text-decoration: none;
    color: white !important;
}

h2 {
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    margin-top: 0.2em;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

h2 a {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    color: #095194;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.25em;
}

h4 {
    font-size: 1.2em;
}

.large {
    font-size: 1.4em;
}

.contact-link {
    color: #7a0707;
}

.contact-link:hover {
    color: #a31212;
}

.cover:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url('../img/cover4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cover {
    position: relative;
    background: rgb(93, 33, 0);
    overflow: hidden;
    padding: 3em 0;
}

.cover * {
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.icons a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin-right: 0.25em;
    padding: 0;
}

ul {
    padding-left: 1.3em;
}

.teams p {
    text-align: justify;
}

.team-lead {
    display: block;
    margin-bottom: 0.35em;
    color: #444;
    font-weight: 500;
    font-size: small;
}

.team-lead a {
    color: black;
}

.role-info {
    display: block;
    margin-bottom: 0.35em;
    color: #444;
    font-weight: 500;
    font-size: small;
}

.role-info a {
    color: #3d5971;
    font-weight: 500;
    text-decoration: none;
}

.role-info a:hover {
    color: #000;
}

a.startatfit {
    color:#7a0707 !important;
    font-weight: 500;
}

a.startatfit:hover {
    color:#a31212 !important;
    font-weight: 500;
}

.small-link {
    font-size: 50%;
}

.small-link i {
    font-size: 75%;
}

a.nav-link {
    text-decoration: none;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

a[href^="mailto:"] {
    text-decoration: none;
}
a[href^="tel:"] {
    text-decoration: none;
}
