* {
    font-family: 'Dosis', sans-serif;
}

h1 {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
    font-size: 2.4em;
}

body {
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    background-color: #eeeeee;
}

#content-container {
    margin: 0 10px;
}

.logo-img {
    max-height: 4rem;
    margin-bottom: 1rem;
}

.link-tree {
    list-style-type: none;
    padding: 0;
}

.link-tree li {
    display: block;
    border-radius: 3px;
    max-width: 400px;
    margin: 0 auto 5px auto;
    line-height: 1.5;
    transition: all 0.2s ease-in-out;
    background-color: #00a9e0;
    text-shadow: 1px 1px 4px #777;
}

.link-tree li.plain, .link-tree li.plain:hover {
    background-color: transparent;
    text-shadow: none;
    margin: 8px auto;
}

.link-tree li.skoleni {
    background-color: #1c83be;
}

.link-tree li.divider {
    height: 2px;
    background-color: #e4002b;
    margin: 8px auto;
}

.link-tree li.divider:hover {
    background-color: #e4002b;
}

.link-tree li:hover, .link-tree li.skoleni:hover {
    background-color: #0065a0;
}

.link-tree li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.4em;
    font-size: 1.3em;
}

.nuke {
    background-color: #36fc6b !important;
}

.nuke:hover {
    background-color: #30e460 !important;
}
